@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-VariableFont_wdtgh,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Fredoka', sans-serif;
  width: 100vw !important;
  height: 100vh !important;
}

.markdown-preview > * {
  all: revert;
}